html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --color-black: #413A3A;
  --color-white: #FFF;
  --color-blue: #0ACAF5;
}

html {
  font-size: 10px;
}

body {
  font-family: "Sora";
  line-height: 1.4;
  background: #FFF;
  color: var(--color-black);
  
} 

ul li {
  list-style: none;;
}

input, button {
  border: none;
}



.dash-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1.3fr;
  gap: 40px;

  max-width: 1600;
  width: 100%;
  margin: 0 auto;
}

.dash-sidebar {
  padding: 40px 24px;

  position: sticky;
  top: 0;
}

.dash-sidebar-wrapper {
  position: sticky;
  top: 60px;
}

.dash-logo-wrapper {
  margin-bottom: 32px;
}

.dash-logo-wrapper span {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-black);
}

.dash-nav .list .item {
  margin-bottom: 32px;
}

.dash-nav .list .item .link {
  font-size: 16px;
  font-weight: 400;
  color: #999999;

  display: flex;
  align-items: center;
  gap: 8px;
  transition: .5s;
}

.dash-nav .list .item .link:hover, .dash-nav .list .item .link.active {
  color: var(--color-blue);
}

.dash-content {
  padding: 40px 24px;
}

.dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-files-form {
  border: 2px solid #C7DAED;
  border-radius: 10px;

  display: flex;
  align-items: center;
  overflow: hidden;
  color: #C7DAED;
  width: 70%;
  max-width: 400px;
  transition: .5s;
}

.search-files-form:hover, .search-files-form:focus {
  border: 2px solid #A4B6C9;
}

.search-files-form:focus-within {
  border: 2px solid #A4B6C9;
}


.search-files-form .submit {
  padding: 8px;
  background: transparent;

}

.search-files-form .submit {
  padding: 8px;
}

.search-files-form .input-text {
  font-family: "Sora", sans-serif;
  padding: 8px;
  outline: none;
}

.search-files-form .input-text::placeholder, .search-files-form .submit svg {
  font-size: 16px;
  color: #A4B6C9;
}

.profile-infos {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification-wrapper {
  position: relative;

  cursor: pointer;
}

.notification {

  display: none;
  position: absolute;
  right: 0;
  top: 20px;
  padding: 24px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 3px 0  #3246D327;
  z-index: 100;

  min-width: 300px;

}

.notification-wrapper.active .notification {
  display: inherit;
}

.notification-wrapper.active > svg  {
  stroke: #3246D3;
}

.notification .title {
  margin-bottom: 8px;
}

.notification .item {
  display: grid;
  grid-template-columns: 2fr 24px;
  margin-bottom: 16px;
}

.notification .item:last-child {
  margin-bottom: 0;
}

.notification .item .text {
  font-size: 12px;
}

.notification-wrapper .circle {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: #FF4C4C;
  position: absolute;
  top: -4px;
  right: 2px;
  animation: crescer 2s infinite;
}

@keyframes crescer {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
}

.photo-wrapper {
  width: 48px;
  height: 48px;
  background: yellow;
  border-radius: 100px;
  overflow: hidden;

  display: grid;
  place-items: center;
}

.photo-wrapper img {
  object-fit: cover;
  width: 200%;
  max-width: 200%;
}

.files-listing {
  margin: 60px 0 20px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.files-listing .title-wrapper .title {
  font-size: 2.2rem;
  color: var(--color-black);
}

.title-wrapper .switch-view {
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-blue);
  padding: 8px 16px;
  border-radius: 10px;
  background: #0ACAF520;
  cursor: pointer;
  transition: .5s;
}

.title-wrapper .switch-view:hover {
  background: #3246D3;
  color: #FFF;
}

.cards {
  margin-top: 24px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.cards .item {
  border-radius: 10px;
  background: #ebebeb;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  position: relative;
}

.cards .item {
  border-radius: 10px;
  background: #ebebeb;
  padding: 24px;
  color: var(--color-black);

  cursor: pointer;
  transition: .5s;
  position: relative;
}

.cards .item:hover {
  background: #3246D3;
  color: #FFF;
}

.cards .item .title {
  color: inherit;
  font-size: 18px;
  color: inherit;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background: #A4B6C9;
  border-radius: 10px;
  overflow: hidden;
}

.progress-move {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background:var(--color-blue);
}

.space-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.space {
  font-size: 12px;
  font-weight: 700;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100px;

  position: absolute;
  top: 16px;
  right: 16px;

  background: #A4B6C9;
}

.dot:nth-child(2) {
  width: 4px;
  height: 4px;
  border-radius: 100px;

  position: absolute;
  top: 24px;
  right: 16px;

  background: #A4B6C9;
}

.dot:nth-child(3) {
  width: 4px;
  height: 4px;
  border-radius: 100px;

  position: absolute;
  top: 32px;
  right: 16px;

  background: #A4B6C9;
}

.cards .item:hover .dot {
  background: #FFF;
}

.files-listing .list {
  position: relative;
}

.files-listing .list .item {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 1fr 0.5fr;
  gap: 8px;
  align-items: center;
  
  transition: .5s;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
}

.files-listing .list .item:hover {
  background: lightgrey;
}

.files-listing .list .item .filename {
  font-size: 14px;
  color: #413A3A;
}

.files-listing .list .item .filedate, .files-listing .list .item .filesize {
  font-size: 14px;
  color: #999999;
}

.files-listing .list .dots {
  position: relative;
}

.files-listing .list .dot {
  width: 4px;
  height: 4px;
  border-radius: 100px;

  position: absolute;
  top: 0;
  right: 16px;

  background: #A4B6C9;
}

.files-listing .list .dot:nth-child(2) {
  width: 4px;
  height: 4px;
  border-radius: 100px;

  position: absolute;
  top: 0;
  right: 24px;

  background: #A4B6C9;
}

.files-listing .list .dot:nth-child(3) {
  width: 4px;
  height: 4px;
  border-radius: 100px;

  position: absolute;
  top: 0;
  right: 32px;

  background: #A4B6C9;
}

.show-more-wrapper {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #FFFFFF50, transparent);
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.show-more-btn {
  font-family: inherit;
  font-size: 16px;
  background: #0ACAF540;
  color: #0ACAF5;
  padding: 16px 24px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  top: 20px;
}

.hided {
  display: none !important;
}

.dash-sidebar.settings .dash-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
}

.dash-sidebar.settings .title{
  font-size: 16px;
}

.hard-disk-space {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}

.hard-disk-space .used {
  font-size: 20px;
  font-weight: 700;
}

.hard-disk-space .total {
  font-size: 12px;
  font-weight: 400;
}

.type-of-files-list {
  display: flex;
  flex-direction: column;

}

.type-of-files-list .item {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  align-items: center;

  margin-bottom: 24px;
  
}

.type-of-files-list .item .type-name-wrapper {
  display: flex;
  flex-direction: column;
}

.type-of-files-list .item .type-name-wrapper .typename {
  font-size: 12px;
  font-weight: 600;
}

.type-of-files-list .item .type-name-wrapper .total-files {
  font-size: 10px;
  font-weight: 400;
}

.type-of-files-list .item .space-used {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  
  .dash-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .dash-sidebar.nav {
    position: fixed;
    background: #FFF;
    z-index: 200;
    height: 100%;
    transform: translate(-90%, 0);
    transition: .5s;
    border-right: 1px solid #C7DAED;
  }

  .dash-sidebar.settings {
    position: fixed;
    background: #FFF;
    z-index: 200;
    height: 100%;
    right: 0;
    transform: translate(90%, 0);
    transition: .5s;
    border-left: 1px solid #C7DAED;
  }

  .dash-sidebar.nav.active {
    transform: translate(-0%, 0);
  }

  .dash-sidebar.settings.active {
    transform: translate(-0%, 0);
  }

  .cards {
    grid-template-columns: 1fr;
  }


}